@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
  font-family: Poppins, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

header {
  background-color: rgb(16, 15, 25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 80px;
}

.logo {
  font-family: Kanit, sans-serif;
  font-size: 18px;
  font-weight: 700;
  user-select: none;
}

nav ul {
  display: flex;
  gap: 60px;
  list-style: none;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 530;
  transition: color 0.2s ease-in-out;
}

nav ul li a:hover,
.current {
  color: #c4a86b;
}

nav ul li a:active {
  opacity: 0.8;
}

.menu-icon {
  display: none;
  visibility: hidden;
  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
}

.menu-icon i {
  font-size: 32px;
  transition: 0.15s ease-in-out;
}

.menu-icon i:hover {
  color: #c4a86b;
}

.aside-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  visibility: hidden;
}

aside {
  background-color: rgb(16, 15, 25);
  width: 50%;
  position: fixed;
  top: 0;
  right: -25%;
  bottom: 0;
  visibility: hidden;
}

.close-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.close-btn i {
  font-size: 40px;
  cursor: pointer;
  transition: color 0.2s;
}

aside ul {
  margin-top: 80px;
}

aside ul li {
  list-style: none;
  padding: 10px 0 0 20px;
}

aside ul li a {
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: color 0.2s;
}

aside ul li a:hover,
.close-btn i:hover {
  color: #c4a86b;
}


.is-visible {
  visibility: visible;
  transform: translate(-50%, 0);
  transition: transform 0.4s ease;
}

.is-hidden-animation {
  visibility: hidden;
  transform: translate(50%, 0);
  transition: transform 0.4s ease, visibility 0s 0.4s;
}

@media screen and (max-width: 934px) {
  nav ul {
    gap: 50px;
  }
}

@media screen and (max-width: 878px) {
  header {
    padding-right: 30px;
  }

  nav ul {
    gap: 40px;
  }
}

@media screen and (max-width: 818px) {
  nav ul {
    gap: 30px;
  }
}

@media screen and (max-width: 760px) {
  nav ul {
    gap: 25px;
  }
}

@media screen and (max-width: 700px) {
  header {
    padding: 0 40px;
  }

  nav {
    display: none;
    visibility: hidden;
  }

  .menu-icon {
    display: inline;
    visibility: visible;
  }
}